{% extends "base.html" %}
{% block title %}Pesan Rahasia{% endblock %}

{% block content %}
<div class="puzzle-screen">
    <div class="puzzle-layout one-col">
        <section class="puzzle-main">

            <h1 class="mb-3">Pesan Rahasia Terbuka</h1>
            
            <div class="secret-message-wrapper">
                <div class="secret-message-paper">
                    <p class="secret-message-body">
                        {{ message }}
                    </p>
                </div>

                <a href="{{ url_for('home') }}" class="btn-primary secret-message-btn">
                    Kembali ke Beranda
                </a>
            </div>

        </section>
    </div>
</div>
{% endblock %}
